<footer>
  <div class="footer-container">
    <div class="footer-section">
      <h3>Sobre el Proyecto</h3>
      <p>Desarrollador: Adri - Desarrollador de aplicaciones Web con experiencia en TypeScript, Angular</p>
      <p>Descripción: Este proyecto aborda la visualización interactiva de datos sobre Pokémon usando APIs y gráficos animados.</p>
      <p>Feedback:</p>

        <ul>
          <li>Pros: Eficiencia en manejo de datos y diseño intuitivo.</li>
          <li>Contras: Desafíos con la integración de ciertas librerías externas.</li>
          <li>Lo más complejo: Manejar animaciones personalizadas y optimización de cargas.</li>
          <li>Lo más sencillo: Estructura básica del diseño inicial.</li>
        </ul>
    </div>
    <div class="footer-section">
      <h3>Contacto</h3>
      <p>Email: adri999jr123&#64;gmail.com</p>
      <p>Teléfono: 611 11 54 21</p>
      <p>LinkedIn: <a href="https://linkedin.com/in/adri" target="_blank">linkedin.com/in/adri</a></p>
    </div>
    <div class="footer-section">
      <h3>Recursos</h3>
      <p><a href="#docs">Documentación del Proyecto</a></p>
      <p><a href="#github">Repositorio en GitHub</a></p>
      <p><a href="#feedback-form">Git:Adri999jr</a></p>
    </div>
  </div>
</footer>
